@import url("reset.css");

a {
    color: #DDE5FF;
    text-decoration: none;
}
body {
    background-color: #DDE5FF;
    font-family: 'Lato', sans-serif;
    color: #DDE5FF;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    width: 800px;
    margin: 0 auto;
}
.header {
    padding: 30px;
    margin-top: 10px;
    background-color: #3D5ECC;
}

h1 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}

.main div {
    padding: 10px;
    margin: 5px 0;
    background-color: #4C587F;
}
.main img {
    display: inline-block; 
    width: 75px;
    height: 75px;
}
.main a:hover {
    color: grey;
}
.main a,
.main p {
    display: inline-block; 
    margin-left: 20px;
}
.main h3 {
    width: 200px;
}
.main p {
    width: 400px;
}
